@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*HEADER*/
    .header {
        position: fixed;
        width: 100vw;
        display: flex;
        background-color: #1f2937;
        justify-content: space-around;
        align-items: center;
        padding: 8px;
    }

    .header img {
        width: 60px;
    }

    .header ul a {
        font-weight: 650;
        font-size: 18px;
        color: #E5E7EB;
        text-decoration: none;
        list-style: none;
        text-align: center;
    }

    .header ul {
        display: flex;
        column-gap: 24px;
    }


/* MAIN */
    main {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        background-color: black;
    }





/* FOOTER */
    footer {
        font-size: 18px;
        color: #E5E7EB;
        background-color: #1f2937;
        flex: 0 0 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


#d1 {
    display: flex;
    background-color: #1f2937;
    height: 65vh;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

    #d1 h1 {
        font-size: 48px;
        color: #f9faf8;
        font-weight: bold;

    }

    #d1 p {
        font-size: 18px;
        color: #E5E7EB;
    }

    #d1 > * {
        max-width: 522px;
        min-width: none;
    }



    #d1 button {
        margin-top: 15px;
        background-color: #3882F6;
        width: fit-content;
        font-size: 18px;
        color: #E5E7EB;
        font-weight: bolder;
        border: none;
        padding: 8px;
        padding-left: 26px;
        padding-right: 26px;
        border-radius: 8px;
    }

#d2 {
   
    background-color: white;
    min-height: 75vh;
    padding: 36px;
    
}
    .d2-container {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        row-gap: 36px;
    }

    #d2 h2 {
        font-size: 36px;
        font-weight: bolder;
        color: #1f2937;
    }

    .cards {
        display: flex;
        column-gap: 64px;
        flex-wrap: wrap;
    }
    
    .card {
        display: flex;
        width: 168px; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    .card img{
        box-shadow: 0px 0px 4px black;
        border: 6px solid #3882F6;
        border-radius: 15px;
    }
    

#d3 {
    display: flex;
    background-color: #E5E7EB;
    height: 60vh;
    align-items: center;
    justify-content: center;
}
    .d3-container {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .d3-container p {
        font-style: italic;
        color: #1f2937;
        font-size: 36px;
        font-weight: 100;
    }

    div.author {
        align-self: flex-end;
        font-size: 18px;
        font-weight: 900;
    }

#d4 {
    background-color: white;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #d4 .box {
        display: flex;
        background-color: #3882F6;
        width: 65%;
        height: 35%;
        border-radius: 10px;
    }

    #d4 .box > .text-container {
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #f9faf8;
    }

    #d4 .box > .btn-container {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-container button {
        background-color: #3882F6;
        border: 2px solid white;
        border-radius: 5px;
        color: #f9faf8;
        padding: 4px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 18px;
        font-weight: 900;
    }
